@use "./customs" as *;
@use "typography";

html {
    scroll-behavior: smooth;

    &:has(.example) {
        overflow-y: hidden;
    }
}

body {
    font-family: Poppins, sans-serif;
    min-width: rem-calc(320);
    line-height: 1.55;
    letter-spacing: 0.2px;
    color: $black;
}

.edutain-u-productions {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

main {
    flex: 1;

    // TODO: dit hieronder moet weg uiteindelijk, container styling kan op section base
    @include container;
}

footer {
    flex-shrink: 0;
}

section {
    padding: rem-calc(48 0);

    @include phablet {
        padding: rem-calc(60 0);
    }

    @include tablet {
        padding: rem-calc(96 0);
    }

    &#consultancy {
        padding-bottom: rem-calc(24);
    }

    &#beleid,
    &#voorwaarden {
        padding-top: 0;
    }
}

.responsive-tag {
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    padding: rem-calc(4 12);
    z-index: 1000;
    opacity: 0.5;
    color: $black;
    background-color: $white;
    outline: $black 1px solid;
    text-align: center;

    p {
        font-size: rem-calc(14);
        font-weight: bold;
    }
}

b,
strong {
    font-weight: 600;
}

u {
    @include link;
}
