@use "./customs" as *;
@use "typography";

html {
    scroll-behavior: smooth;

    &:has(.example) {
        overflow-y: hidden;
    }
}

body {
    font-family: Poppins, sans-serif;
    background: linear-gradient(145deg, $white 30%, rgba($primary, 0.1) 100%);
    min-width: rem-calc(320);
    line-height: 1.55;
    letter-spacing: 0.2px;
    color: $black;
}

.edutain-u-productions {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

main {
    flex: 1;

    @include container($pY: rem-calc(64));
}

footer {
    flex-shrink: 0;
}

section {
    padding: rem-calc(96 0);
}

.responsive-tag {
    position: fixed;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    padding: rem-calc(4 12);
    z-index: 1000;
    opacity: 0.5;
    color: $black;
    background-color: $white;
    outline: $black 1px solid;
    text-align: center;

    p {
        font-size: rem-calc(14);
        font-weight: bold;
    }
}

b,
strong {
    font-weight: 600;
}
