@use "colors" as *;
@use "functions" as *;
@use "mediaqueries" as *;
@use "utils" as *;
@use "variables" as *;

@mixin container(
    $maxWidth: rem-calc($layout),
    $pT: 0,
    $pR: rem-calc(20),
    $pB: 0,
    $pL: rem-calc(20)
) {
    max-width: $maxWidth;
    margin: 0 auto;
    padding: $pT rem-calc(16) $pB;
    width: 100%;

    @include mobile {
        padding: $pT $pR $pB $pL;
    }
}

@mixin smooth-trans($style: all) {
    transition: $style 0.15s ease-in-out;
}

@mixin link {
    font-size: rem-calc(18);
    font-weight: 500;
    text-underline-offset: 10px;
    text-decoration: underline;
    text-decoration-color: transparent;
    padding: rem-calc(4);

    @include smooth-trans;

    &:hover {
        text-decoration-color: $black;
    }
}

@mixin full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

@mixin border-radius($radius: 3px, $overflow: hidden) {
    overflow: $overflow;
    border-radius: $radius;
}

@mixin underline($offset: 3px, $thickness: 2px, $color: $secondary) {
    text-underline-offset: $offset;
    text-decoration: underline $thickness solid $color;
}

@mixin clamp($lines: 2) {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@mixin box-shadow($type: 1) {
    @if $type == 1 {
        box-shadow: 0 0 1em rgb(0 0 0 / 10%);
    } @else if $type == 2 {
        box-shadow: 0 4px 4px 0 rgb(172 178 185 / 50%),
            0 0 8px 0 rgb(172 178 185 / 50%);
    }
}

@mixin button($type: 1) {
    padding: rem-calc(17 24 17);
    position: relative;
    background-color: transparent;
    user-select: none;
    touch-action: manipulation;
    color: $white;
    font-weight: 500;
    border: 2px solid if($type == 1, $black, $white);

    @include fluid-typing(18, 20);

    &::after {
        content: "";
        background-color: $secondary;
        width: 100%;
        height: 100%;
        position: absolute;
        top: rem-calc(10);
        left: rem-calc(10);
        z-index: -1;
        transition: top 0.2s, left 0.2s;
        pointer-events: none;
    }

    &:hover::after {
        top: 0;
        left: 0;
    }
}
