@use "../../customs/" as *;

.form {
    background-color: $primary;

    @include full-width;

    > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: rem-calc(56);

        @include container;

        @include tablet {
            flex-direction: row;
        }

        > div ul {
            display: flex;
            flex-direction: column;
            gap: rem-calc(12);
            margin-top: rem-calc(24);

            li {
                a {
                    display: flex;
                    align-items: center;
                    gap: rem-calc(16);

                    @include mobile {
                        gap: rem-calc(20);
                    }

                    span {
                        font-weight: 600;
                    }

                    p {
                        @include link;
                    }
                }
            }
        }

        > form {
            display: flex;
            flex-direction: column;
            max-width: rem-calc(700);
            width: 100%;
            gap: rem-calc(24);
            position: relative;
            padding: rem-calc(24);
            background-color: $white;
            outline: 2px solid $black;
            z-index: 0;

            @include phablet {
                padding: rem-calc(48);
            }

            @include laptop {
                max-width: rem-calc(700);
            }

            > div {
                display: flex;
                flex-direction: column;
                gap: rem-calc(22);

                > label {
                    display: none;
                }

                > input:not([type="checkbox"]),
                > textarea {
                    width: 100%;
                    border-bottom: 2px solid $black;
                    border-radius: 0 !important;
                    color: $black;
                    padding: rem-calc(14 0);
                    resize: none;
                    background-color: transparent;

                    @include smooth-trans;
                    @include fluid-typing(16, 18);

                    &::placeholder {
                        opacity: 0.75;
                    }

                    &:focus {
                        border-color: $secondary;
                    }
                }

                > input:not(:placeholder-shown),
                > textarea:not(:placeholder-shown) {
                    border-bottom: 4px solid $black;
                    padding-bottom: rem-calc(12);
                }

                > textarea {
                    margin-bottom: rem-calc(16);
                }

                > div {
                    display: flex;
                    align-items: center;

                    > input[type="checkbox"] {
                        width: rem-calc(25);
                        height: rem-calc(25);
                        opacity: 0;
                        position: absolute;
                        left: 0;
                        top: 0;
                        margin: 0;
                        z-index: 1;

                        + label {
                            position: relative;
                            padding-left: rem-calc(36);
                            min-height: rem-calc(25);
                            cursor: pointer;

                            span {
                                color: $secondary;
                            }

                            a {
                                @include link;
                            }

                            &::before {
                                content: "";
                                position: absolute;
                                left: 0;
                                top: 50%;
                                transform: translateY(-50%);
                                width: rem-calc(25);
                                height: rem-calc(25);
                                border: 2px solid $black;
                                background: $white;
                                border-radius: 4px;
                                transition: border-color 0.2s, background 0.2s;
                                cursor: pointer;
                            }

                            &::after {
                                content: "";
                                position: absolute;
                                left: rem-calc(4.5);
                                top: 50%;
                                transform: translateY(-50%) scale(0);
                                width: rem-calc(16);
                                height: rem-calc(16);
                                background: $secondary;
                                border-radius: 2px;
                                transition: transform 0.2s;
                                cursor: pointer;
                            }
                        }

                        &:checked + label::after {
                            transform: translateY(-50%) scale(1);
                        }
                    }
                }
            }

            .submit {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: rem-calc(24);
                margin-top: rem-calc(24);

                span {
                    display: flex;
                    align-items: center;
                    gap: rem-calc(10);
                    font-weight: 600;
                    color: $secondary;
                }

                button {
                    align-self: flex-end;
                    margin-left: auto;
                    margin-bottom: rem-calc(12);

                    @include button;
                }
            }
        }
    }
}
