@use "../../customs" as *;

.footer {
    $this: &;

    background: $black;
    color: $white;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include container($pY: rem-calc(12));

        span {
            @include fluid-typing(13, 16);

            .menefex {
                &:hover {
                    text-decoration: underline;
                    text-decoration-color: $white;
                    text-underline-offset: 5px;
                }
            }
        }
    }
}
