@use "../../customs" as *;

.footer {
    $this: &;

    background-color: $black;
    color: $white;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include container($pT: rem-calc(16), $pB: rem-calc(16));

        span {
            @include fluid-typing(13, 16);

            .menefex {
                @include link;
            }
        }
    }
}
