@use "../../customs" as *;

.header {
    $header: &;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include container(rem-calc(1300));

    > a {
        max-width: rem-calc(150);

        @include phablet {
            max-width: rem-calc(200);
        }
    }

    nav > ul {
        display: flex;
        flex-direction: column;
        gap: rem-calc(8);

        @include phablet {
            flex-direction: row;
            gap: rem-calc(16);
        }

        > li {
            a {
                font-weight: 500;
                padding: rem-calc(4);

                @include fluid-typing(16, 18);

                &:hover {
                    text-decoration: underline;
                    text-decoration-color: $tertiary;
                    text-underline-offset: 3px;
                }
            }
        }
    }
}
