@use "../../customs" as *;

.header {
    $header: &;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: rem-calc(64);

    @include container($pB: rem-calc(64));

    @include laptop {
        flex-direction: row;
        align-items: start;
    }

    > .hero {
        width: 100%;

        > .menu {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: rem-calc(16 0);
            align-items: center;
            height: fit-content;
            gap: rem-calc(24);

            @include phablet {
                flex-direction: row;
            }

            > a {
                display: none;
                align-self: unset;
                width: 100%;
                min-width: rem-calc(150);
                max-width: rem-calc(200);
                white-space: nowrap;

                @include phablet {
                    display: block;
                }
            }

            > div {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                @include compact {
                    width: 100%;
                }

                @include phablet {
                    width: fit-content;
                }

                > ul {
                    display: flex;
                    align-items: flex-end;
                    gap: rem-calc(16);
                    margin: rem-calc(0 12 8 12);
                    width: 100%;

                    @include phablet {
                        gap: rem-calc(18);
                        width: fit-content;
                        align-items: unset;
                        margin: 0;
                    }

                    > li {
                        a {
                            padding: rem-calc(4);

                            &:hover {
                                color: $secondary;
                            }
                        }

                        &.logo {
                            margin-right: auto;
                            margin-left: rem-calc(16);
                            width: rem-calc(75);
                            display: block;

                            @include mobile {
                                margin-left: 0;
                                width: rem-calc(100);
                            }

                            @include phablet {
                                display: none;
                            }
                        }
                    }
                }

                > hr {
                    width: 100%;
                    height: 2px;
                    background-color: $black;
                    margin: rem-calc(12 0 0);

                    @include compact {
                        margin: rem-calc(12 0 4);
                    }

                    @include mobile {
                        margin: rem-calc(20 0 16);
                    }
                }

                > nav {
                    height: fit-content;
                    background-color: $primary;

                    @include compact {
                        background-color: transparent;
                    }

                    > ul {
                        display: flex;
                        overflow-x: auto;
                        scrollbar-width: thin;
                        max-width: 100vw;
                        gap: rem-calc(8);
                        padding: rem-calc(16 0);

                        @include compact {
                            padding: rem-calc(8 0 16 0);
                        }

                        @include mobile {
                            max-width: 90vw;
                            flex-direction: row;
                            padding: rem-calc(8 0 16 0);
                            gap: rem-calc(10);
                        }

                        @include phablet {
                            max-width: fit-content;
                            padding: 0;
                        }

                        > li {
                            padding: rem-calc(4);
                            text-align: right;

                            a {
                                font-weight: 600;
                                white-space: nowrap;
                                box-shadow: inset 0 0 0 0 $secondary;
                                margin: 7.5px -0.25rem;
                                padding: 7.5px 0.75rem;
                                transition: color 0.4s ease-in-out,
                                    box-shadow 0.35s ease-in-out;

                                @include fluid-typing(16, 19);

                                &:hover {
                                    @include compact {
                                        box-shadow: inset 175px 0 0 0 $secondary;
                                        color: $white;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        > .intro {
            h1 {
                border-left: 5px solid $primary;
                padding-left: rem-calc(16);
                margin-top: rem-calc(32);
                margin-bottom: rem-calc(24);

                @include mobile {
                    margin-top: rem-calc(48);
                }
            }

            p {
                max-width: 57.5ch;
            }
        }

        > .buttons {
            display: flex;
            gap: rem-calc(24);
            margin-top: rem-calc(32);

            > .button {
                @include button;
            }
        }
    }

    > .image {
        max-width: rem-calc(500);
        min-width: rem-calc(300);

        img {
            border-radius: 50px;
            border-top: 7.5px solid $primary;
            border-left: 7.5px solid $primary;
            border-right: 7.5px solid $secondary;
            border-bottom: 7.5px solid $black;
            overflow: hidden;

            @include laptop {
                border-top: none;
                border-radius: 0 0 50px 50px;
            }
        }
    }
}
